.message {
	width: 100%;
	background: #ee0101;
	color: #fff;
	width: 500px;
	font-family: tahoma;
	font-size: 11px;
	border: 2px solid #ddd;
	padding: 4px 10px 4px 10px;
	cursor:pointer;

	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000; 
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

}

.success {
	background: #33be40;
}